@mixin header-font-properties {
  font-size: $font-size-header;

  text-transform: uppercase;
  text-decoration: none;
  .Main-Title {
    color: $highlight-clr;
  }
}

@mixin Button-properties {
  background-color: $btn-bg-clr;
  color: $highlight-clr;
  width: 10em;
  // height: 15vh;
  font-size: $font-size-btn;
  padding: 5px;
  margin: 10px;
  font-weight: 700;
  letter-spacing: 0.2em;
  border-color: $highlight-clr;
  border-radius: 15px;
  box-shadow: 2px 2px 2px $btn-sh-clr;
}

@mixin DateClock {
  color: $highlight-clr;
  position: right;
  float: right;
  font-size: 1.5rem;
  text-align: right;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  justify-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
}
@mixin AgeVerification {
  gap: 5px;
  flex-wrap: nowrap;
  margin: 5px auto;
  padding: 5px;
  input {
    padding: 5px;

    margin: 5px;
    font-size: 1.2em;
    width: 10vw;
    overflow: hidden;
    &::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    &:not(:focus):not(:placeholder-shown):valid {
      border: 1px solid greenyellow;
    }
    &:not(:focus):not(:placeholder-shown):invalid {
      border: 1px solid red;
    }
  }
  label {
    padding: 2px;
    margin: 5px;
  }
}

@mixin search-drink {
  padding: 5px;
  margin: 5px;
  font-size: 1.2em;
  width: 25vw;
  border-radius: 25px;
}
