@mixin header-font-properties {
  font-size: $font-size-header;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
  text-transform: uppercase;
  text-decoration: none;
  .Main-Title {
    color: $highlight-clr;
  }
}

@mixin Button-properties {
  background-color: $btn-bg-clr;
  color: $highlight-clr;
  width: 10em;
  // height: 15vh;
  font-size: $font-size-btn;
  padding: 5px;
  margin: 10px;
  font-weight: 700;
  letter-spacing: 0.2em;
  border-color: $highlight-clr;
  border-radius: 15px;
  box-shadow: 2px 2px 2px $btn-sh-clr;
}
