@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");

$font: "Edu NSW ACT Foundation", cursive;

$header-bg-clr: rgba(132, 0, 0, 0.822);
$btn-bg-clr: rgba(179, 110, 20, 0.836);
$btn-bg-clr-hvr: rgba(179, 110, 20, 0.954);
$btn-sh-clr: rgba(190, 190, 190, 0.8);
$btn-sh-clr-hvr: rgb(115, 115, 115);

$main-font-clr: black;
$highlight-clr: white;

$font-size-main: 2.5em;
$font-size-header: 5em;
$font-size-btn: 1.3em;
$font-H1: 3em;
$font-H2: 1.5em;
