@import "./_variables";
@import "./_mixins";

* {
  font-family: $font;
  color: $main-font-clr;
  text-align: center;
  margin: 0 auto;
  h1 {
    font-size: $font-H1;
    margin: 10px;
  }
  h2 {
    font-size: $font-H2;
    margin: 5px;
  }

  h3 h4 h5 {
    font-size: 1em;
  }
}
.header {
  background-color: $header-bg-clr;
  padding: 25px;
  @include header-font-properties;
  .header-title-link {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
  }
}
.btn-container {
  display: flex;
  margin: 0 auto;
  max-width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  .button {
    @include Button-properties;

    &:hover {
      background-color: $btn-bg-clr-hvr;
      border-color: $main-font-clr;
      box-shadow: 2px 2px 2px $btn-sh-clr-hvr;
    }
  }
}

.drink-img {
  width: 4vw;
  max-height: 100px;
}
.date-clock {
  @include DateClock;
  p {
    color: white;
    font-weight: 100;
  }
}
.AgeVerification {
  @include AgeVerification;
}
.search-drink {
  @include search-drink;
}
.submitBtn {
  width: 200px;
  padding: 2px;
  font-size: 1.2em;
  border-radius: 25px;
  border: 1px solid black;
  &:hover {
    background-color: rgba($color: #e7e7e7, $alpha: 1);
  }
}
